@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@800&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;1,200&family=Rubik+Iso&family=Varela+Round&display=swap');


*{
    font-family: "audiowide";
    margin: 0;
    padding: 0;

}

.wrapper{
    width: 100%;
    background:url(assets/static/5559852.jpg);
    background-size: cover;

}

.events{
    width: 100%;
}
.events h2{
    
    text-align: center;
    padding: 2% 0%;

}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    
    font-size: small;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    flex-basis: 30%;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px 3px rgb(67, 57, 57) ;
}
@media only screen and (min-width:50px) and (max-width:768px) {
    .cards{
        width: 100%;
        flex-direction: column;
    }
    .card{
        margin:5%;
    }
}