@font-face {
    font-family: ev-font;
    src: url(/assets/fonts/nasalization-rg.otf);
}
*{
    font-family: "ev-font";
    margin: 0;
    padding: 0;

}

.wrapper{
    width: 100%;
    background:url(assets/static/5559852.jpg);
    background-size: cover;

}
.navlist{
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    z-index: 2;

}
.navlist a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    
}
.events{
    width: 100%;
}
.events h3{
    
    text-align: center;
    padding: 2% 0%;

}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    
    font-size: small;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    flex-basis: 30%;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px 3px rgb(67, 57, 57) ;
}
@media only screen and (min-width:50px) and (max-width:768px) {
    .cards{
        width: 100%;
        flex-direction: column;
    }
    .navlist{
        display: none;
    }
    .card{
        margin:5%;
    }
}